In [18]:
import matplotlib.pyplot as plt
import matplotlib
sorted([f.name for f in matplotlib.font_manager.fontManager.ttflist if f.name.startswith('Nanum')])

['NanumBarunGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF',
 'NanumGothicOTF Eco',
 'NanumGothicOTF Eco',
 'NanumGothicOTF Eco',
 'NanumGothicOTF Eco',
 'NanumGothicOTF Eco',
 'NanumGothicOTF Eco']

In [19]:
plt.rcParams['font.family']='NanumGothic'
plt.rcParams['axes.unicode_minus'] = False

In [2]:
from pykrx import stock
from pykrx import bond

In [30]:
df = stock.get_index_ohlcv("20080102", "20080108", "1001")
df1 = df.iloc[:, 0:5]
df2= df.reindex(columns=['종가', '시가', '고가', '저가','거래량' ])

df2.columns.values[0:5] =["close", "open", "high", "low", "volume" ]
df2

#df2 = df2.rename(columns={df2.columns[0]: 'close', df2.columns[1]: 'open', df2.columns[2]})

코스피           close     open     high      low     volume
날짜
2008-01-02  1853.45  1891.45  1892.50  1852.78  247085903
2008-01-03  1852.73  1834.44  1858.08  1821.61  253668393
2008-01-04  1863.90  1853.54  1869.76  1824.41  299084449
2008-01-07  1831.14  1815.73  1840.99  1814.35  268129758
2008-01-08  1826.23  1838.64  1840.62  1818.69  296573522