web crawling

In [ ]:
!pip install BeautifulSoup4

In [ ]:
!pip install selenium

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from fake_useragent import UserAgent

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
response = requests.get(url)
doc = BeautifulSoup(response.text, 'html.parser')

In [ ]:
def get_sp500():
    symbol = pd.Series([data.text.replace('\n','') for data in doc.select('#constituents > tbody > tr > td:nth-child(1)')], name='Symbol')
    security = pd.Series([data.text.replace('\n','') for data in doc.select('#constituents > tbody > tr > td:nth-child(2)')], name = 'Security')
    gics_sector = pd.Series([data.text.replace('\n','') for data in doc.select('#constituents > tbody > tr > td:nth-child(4)')], name = 'GICS')
    ticker = pd.Series([data.text.replace('\n','') for data in doc.select('#constituents > tbody > tr > td:nth-child(8)')], name = 'CIK')
    sp500_data = pd.concat([symbol, security, gics_sector, ticker], axis=1)
    return sp500_data

In [ ]:
get_sp500()

In [ ]:
!pip install -U fake-useragent

###TIGER 200 IT (139260)

###TIGER 헬스케어 (143860)

In [ ]:
!pip install html5lib

In [ ]:
!pip install lxml

In [23]:
contents = []
for i in range(1,11):
    url = 'https://finance.naver.com/item/sise_day.nhn?code=139260&page={}'.format(i)
    headers = {'user-agent' : UserAgent().chrome}
    response = requests.get(url, headers=headers)
    doc = BeautifulSoup(response.text, 'html5lib')
    headers = [h.text for h in doc.select('body > table.type2 > tbody > tr:nth-child(1) > th')]

    for i in range(3,8):
        row = doc.select('body > table.type2 > tbody > tr:nth-child({}) > td'.format(i))
        contents.append([data.text.replace('\n','').replace('\t','') for data in row])
    for i in range(11,16):
        row = doc.select('body > table.type2 > tbody > tr:nth-child({}) > td'.format(i))
        contents.append([data.text.replace('\n','').replace('\t','') for data in row])

In [27]:
etf_data = pd.DataFrame(contents, columns=headers)
etf_data.set_index('날짜', inplace=True)
etf_data.applymap(lambda x : int(x.replace(',', '')))

               종가   전일비     시가     고가     저가     거래량
날짜
2022.06.21  28255   350  27905  28330  27880  207946
2022.06.20  27905   445  28430  28430  27615  265041
2022.06.17  28350   220  28110  28465  27890  276099
2022.06.16  28570   245  28755  29300  28480  399486
2022.06.15  28325   325  28505  28680  28055  197091
...           ...   ...    ...    ...    ...     ...
2022.01.27  33210  1430  34870  34995  33110  313544
2022.01.26  34640   240  35020  35245  34555  483787
2022.01.25  34880   965  35870  35895  34730  456268
2022.01.24  35845   165  35690  35990  35495  233296
2022.01.21  36010   980  36480  36480  35760  254704

[100 rows x 6 columns]

In [28]:
from selenium import webdriver

In [31]:
pg = 3
url = 'https://news.naver.com/main/main.naver?mode=LSD&mid=shm&sid1=100#&date=%2000:00:00&page={}'.format(pg)
driver = webdriver.Chrome()
driver.get(url)